
/*for mobile devies*/
/* no code ref but used https://coder-coder.com/media-query-breakpoints/ as a resource in finding px tp em conversion and gen device sizes*/
@media (max-width: 43em) { 
    body {max-width: 43em;}
    
   
}
/*for tablets*/
@media (max-width: 62em) { 
    .container {max-width: 62em;}
}
body {
    background-image: url(https://images.unsplash.com/photo-1575278220902-cdf1a07a0421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    
}
 .container {
    display: flex;
    flex-direction: column; 
    align-content: center; 
    margin-bottom: 40px;
} 
h1 {
     
    font-size: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: greenyellow;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: black;
    /* add flash lines 23-35 ==>REF: https://codepen.io/iPawan/pen/BKkCo*/
	-webkit-animation: flash linear 1s infinite; 
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
h3 {
    font-size: 35px;
    text-align: center;
}
.emotions {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
button {
    height: 80px;
    width: 18.75em;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .6);
    position: relative;
}

.slider {
    display: inline;
    margin: auto, 0;
}

footer {
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    color: greenyellow;
    font-size: larger;
    margin-top: 20px;
    font-weight: bolder;
}
